.button-bottom-centered {
  text-align: center;
  position: fixed;
  bottom: 4px;
  display: flex;

  button {
    flex: 1;
  }
}


video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.vlicCamera {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1000;
}

.camera-centered {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}

@media (min-width: 1024px) {
  .camera-centered {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.front-back {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.fullscreen-modal video {
  border: 1px solid transparent;
}